.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
/.dev
/src/**/*.o
/src/*.so
/src/*.dll
/src/**/*gcda
/src/**/*gcno
/docs
/about.Rmd
/README.html
/man/macros/eval2.Rd
/man/macros/examples.Rd
/.cache
